* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #111;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

/* HEADER */

.header {
    background: #ffffff;
    border-bottom: 2px solid #000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.nav {
    margin-left: auto;
    margin-right: 40px;
}

.logo img {
    height: 150px;
}

.nav {
    display: flex;
    gap: 28px;
}

.nav a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: #d32f2f;
}

.header-actions {
    display: flex;
    gap: 12px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    min-width: 140px;
    height: 44px;

    padding: 0 18px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: 0.3s ease;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 40px;
    width: 400px;
    border-radius: 8px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}

/* FOOTER */

.footer {
    background: #000;
    color: #fff;
    padding-top: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-logo {
    height: 60px;
}

.btn-whatsapp {
    background: #25D366;
    color: #fff;
    padding: 10px 14px;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-whatsapp:hover {
    background: #1ebe5d;
    transform: translateY(-2px);
}

.footer-bottom {
    text-align: center;
    padding: 25px 0;
    margin-top: 40px;
    border-top: 1px solid #333;
}
.footer-column a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-column a:hover {
    color: #d32f2f;
}
