* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #111;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

/* HEADER */

.header {
    background: #ffffff;
    border-bottom: 2px solid #000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}

/* LOGO */

.logo img {
    height: 90px;
}

/* NAVIGATION */

.nav {
    display: flex;
    gap: 32px;
    margin-left: auto;
    margin-right: 40px;
}

.nav a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s ease;
}

.nav a:hover {
    color: #d32f2f;
}

/* BUTTONS */

.header-actions {
    display: flex;
    gap: 14px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    min-width: 150px;
    height: 46px;

    padding: 0 20px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;

    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: 0.3s ease;
}

.btn-primary {
    background: #d32f2f;
    color: #fff;
}

.btn-primary:hover {
    background: #a32020;
    transform: translateY(-2px);
}

/* FOOTER */

.footer {
    background: #000;
    color: #fff;
    padding-top: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-logo {
    height: 60px;
}

.btn-whatsapp {
    background: #25D366;
    color: #fff;
    padding: 10px 14px;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-whatsapp:hover {
    background: #1ebe5d;
    transform: translateY(-2px);
}

.footer-bottom {
    text-align: center;
    padding: 25px 0;
    margin-top: 40px;
    border-top: 1px solid #333;
}
.footer-column a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-column a:hover {
    color: #d32f2f;
}
